{{define "content"}}
<a href="/smkent/" rel="nofollow">
    <img src="/static/smkent.jpg" class="id-image" alt="smkent" />
</a>

<div class="h1-home">
<h1>smkent</h1>
<div class="h1-right vmiddle upper">
    <img src="/static/go.png" id="go" class="vmiddle" />
</div>
<hr class="h1" />
</div>

<div class="account-link">
    <a href="https://github.com/smkent" title="GitHub">
    <img src="/static/github-24px.png" class="account-logo" alt="GitHub" />smkent</a>
</div>

<div class="account-link">
    <a href="https://linkedin.com/in/smkent" title="LinkedIn">
    <img src="/static/linkedin-24px.png" class="account-logo" alt="LinkedIn" />smkent</a>
</div>

<div class="account-link">
    <a href="https://keybase.io/smkent" title="Keybase">
    <img src="/static/keybase-24px.png" class="account-logo" alt="Keybase" />smkent</a>
</div>

<div class="account-link">
    <span class="pgp-signature">
        <a href="{{.PGPURL}}" title="PGP public key signature"><img src="/static/key-24px.png" class="account-logo" alt="PGP public key signature" /><div class="inline"><b>0342 C809 99FB 1A06 FD0F  9533 8392 C992 D925 00A9</b></div></a>
    </span>
    <a href="https://github.com/smkent/pgp">(info)</a>
</div>
{{end}}
